global-exclude *.pyc

include README.md
include manifest.json
include orion-requirements.txt
include setup.py

prune notebooks
prune floes
prune torsion/cubes

include floes/floe_torsional_strain.py
include torsion/cubes/__init__.py
include torsion/cubes/calculate_energy.py
include torsion/cubes/calculate_profile.py
include torsion/cubes/generate_starting_conformers.py
include torsion/cubes/generate_torsion_fragments.py
include torsion/cubes/generate_torsional_conformers.py
